.ronaldopicca {
    width: 50%;            /* Pas aan naar gewenste grootte */
    max-width: 400px;      /* Beperkt de maximale breedte */
    height: auto;          /* Zorgt dat de hoogte proportioneel blijft */
    border-radius: 10px;   /* Optioneel: afgeronde hoeken */
}
.center-container {
    display: flex;        /* Maakt gebruik van flexbox */
    justify-content: center;  /* Centreert horizontaal */
}
footer {
    margin-top: auto; /* Duwt de footer naar beneden */
}
html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        /* Zorg ervoor dat de footer altijd onderaan staat */
        .content {
            flex: 1;
        }
